{{ partial "home-header.html" . }}
<div style="background-image: url(/img/long-v.svg); 
background-position: top; background-size: 45vw;
background-repeat: no-repeat;">
<header class="header site-header grid-x grid-padding-y align-middle">
    <a class="cell shrink" href="{{.Site.BaseURL}}">
        <img class="site-logo" src="{{.Site.BaseURL}}img/logosmall.png"/> 
    </a>
    
    <button class="menu-toggle hide" type="button">MENU</button>

    <nav class="menu cell shrink">
            <ul class="dropdown menu" data-dropdown-menu data-disable-hover="true" data-click-open="true"
                data-close-on-click="true">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
        
                    {{ if .HasChildren }}            
                    <ul class="menu">
                        {{ range .Children }}
                        <li>
                            <a href="{{ .URL }}">
                            {{ .Name }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </li>
                {{ end }}
            </ul>
        </nav>
</header>

{{ with .Site.GetPage "/about" }}
    <header class="grid-x hero align-center align-middle">

        <div class="cell medium-10 large-8 grid-x grid-margin-x">
            <h1 class="cell text-right">
                DIS 2019
            </h1>

            <p class="cell text-right" style="padding-right: .5em;"> 
                {{ .Title }}
            </p>

            
            <h2 class="cell large-8 uppercase text-right">
                Contesting borders and intersections
            </h2>
        </div>

        <div class="cell large-10 grid-x grid-margin-x">
            <section class="cell auto grid-x grid-margin-x grid-margin-y">
                <p class="cell large-6 medium-12">
                    June 23 to 28, 2019
                </p>

                <p class="cell large-6 medium-12">
                    San Diego, California
                </p>
            </section>

            <section class="cell auto grid-x grid-margin-y text-right">
                <a href="" class="cell large-6 medium-12">
                    Submit
                </a>

                <p class="cell large-6 medium-12">
                    #DIS2019
                </p>
            </section>
        </div>
    </header>
</div>

<main id="main" class="main">
<section class="grid-x grid-margin-y grid-padding-y align-center light">
    <main class="cell large-10 grid-x grid-padding-x">
        <div class="cell medium-auto small-12 markdown">
            <h1 class="text-center">
                Designing Interactive Systems (DIS) 2019 <br/>
                International Conference Series <br/>
                Sunday June 23 to Friday June 28 2019
            </h1>

            <br/>

            {{ .Content }}
        </div>
        <div class="cell medium-auto small-12 grid-x grid-margin-x align-middle">
            <div class="cell auto">
                <img src="/img/DIS-logo-orange.svg"/>
            </div>

            <div class="cell shrink">
                {{ partial "socialmedia" . }}
            </div>

            <div class="cell grid-x">
                <h1>Key Dates:</h1>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </main>
</section>

{{ end }}

{{ with .Site.GetPage "/organizers" }}
<section class="grid-x grid-margin-y grid-padding-y align-center darkish">
    <main class="cell large-10 grid-x grid-padding-x">
        
        <div class="cell medium-auto markdown">
            <h1>
                {{ .Title }}
            </h1>

            <br/>

            {{ .Content }}
        </div>
    </main>
</section>
{{ end }}

    

<section class="grid-x align-center cream"
    style="background-image: url(/img/logoarrowTop.png), url(/img/logoarrowRight.png), 
                url(/img/logoarrowBottom.png), url(/img/logoarrowLeft.png);
    background-position: top, right, bottom, left;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;"
>
    <div class="cell medium-6 text-center">
        We are excited to co-locate our conference with 
        <strong> Creativity and Cognition 2019.</strong>. 
        There will be some overlapping programs to strengthen the 
        dialogues between our related communities.
    </div>
</section>

</main>

{{ partial "footer.html" . }}
