{{ partial "header.html" . }}

{{ with .Site.GetPage "/about" }}
<header class="grid-x hero align-center align-middle">
    <div class="cell medium-10 grid-x grid-margin-x">
        <h1 class="cell small-12 text-right">
            DIS 2019
        </h1>

        <h2 class="cell small-8 uppercase text-right">
            Contesting borders and intersections
        </h2>

        <div class="cell small-4 grid-x">
            <p class="cell">
                {{ .Title }}

                <br/>

                June 23 to 28, 2019 <br/>
                <div style="width:100%;">
                    <div style="width: 10%; background-color:aqua; height:2px">
                    </div>
                </div>
                <h3 class="uppercase">
                    San Diego, California
                </h3>
            </p>
        </div>
    </div>
</header>
{{ end }}

<section class="grid-x align-center light"
    style="background-image: url(/img/logoarrowTop.png), url(/img/logoarrowRight.png), 
                url(/img/logoarrowBottom.png), url(/img/logoarrowLeft.png);
    background-position: top, right, bottom, left;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;"
>
    <div class="cell medium-6 text-center">
        We are excited to co-locate our conference with 
        <strong> Creativity and Cognition 2019.</strong>. 
        There will be some overlapping programs to strengthen the 
        dialogues between our related communities.
    </div>
</section>


{{ partial "footer.html" . }}
