<footer class="site-footer footer">
  <section class="grid-container grid-x">
    <div class="cell shrink grid-x grid-margin-x">
      <a class="cell auto" href="{{.Site.BaseURL}}">
        <img class="site-logo" src="{{.Site.BaseURL}}img/yellowlogo.png"/> 
      </a>

      <a class="cell auto" href="">
        <img class="site-logo cc-logo" src="{{.Site.BaseURL}}img/CCLogo-white.svg"/>
      </a>
    </div>

    <div class="cell auto">
    </div>
    
    <div class="cell auto">
      {{ partial "socialmedia" . }}
    </div>
  </section>

  <section class="grid-container grid-x align-center">
    <p class="cell">
      All content copyright © DIS 2019
    </p>
  </section>
</footer>

<script src="{{.Site.BaseURL}}js/jquery.js"></script>
<script src="{{.Site.BaseURL}}js/foundation.min.js"></script>
<script>
  $(document).ready(() => {
     $(document).foundation()
  })  
</script>

</body>
</html>
