h1 {
    font-size: 3.8em;
    font-weight: 700;
}
h2 {
    font-size: 2.5em;
    font-weight:400;
}

h3 {
    font-size: .6em;
    font-weight: 700;
    letter-spacing: .2em;
    color:  #27b0c5;
}

h1,h2,h3,p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

.uppercase {
    text-transform: uppercase;
}

body.home,
body.home header.site-header {
    color:  #f2efe0;
    background: #272726;
}

body.home button.menu-toggle {
    color: #f2efe0;
    font-size: .5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .5em;
}
button.menu-toggle::before,
button.menu-toggle::after {
    content: initial;
}
.site-logo {
    max-width: 5em;
}

body.home header.hero {
    padding: 5em 0;
    border-right: 1.2em solid transparent;
    border-image: url(/img/pinkhazardvertical.png) 95 repeat;
    height: 100vh;
}


body.home header.hero p {
    font-size: .8em;
}

body.home header.hero h1 {
    font-size: 4.5em;
}

body.home header.hero h2 {
    font-size: 2em;
}

body.home .tagline {
    color:  #27b0c5;
}

body.home div.table {
    background: #f27365;
    color: #f2efe0;
}

body.single {
    color: #525352;
}

body.single h1 {
    color: #525352;
}
body.single h2 {
    color: #f27365;
}
footer {
    background: #f27365
}